{{!< default-no-script}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#page}}
<article class="post-content {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

    <header class="post-content-header">
            <div>
                <h2 class="tag-page-title">{{title}}</h2>

                <p class="tag-page-content">{{content}}</p>
                
            </div>
    </header>
</header>
</article>
{{/page}}

<div class="post-feed">
{{#foreach posts}}

    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    {{> "post-card"}}

{{/foreach}}
</div>

<div class="see-more-button">
    <a href="/es/portafolio/" class="custom-primary-btn">Mira más proyectos</a>

</div>

<div class="tags-bottom-container">
    <ul class="tags-bottom">
     {{#get 'tags' limit='all' filter= 'slug: [diseno, ilustracion, web-ux-ui, animacion] '}}
    {{#foreach tags}}
    <li>
    <a href="/es/{{ slug }}">
    {{ name }}
    </a>
    </li>
    
    {{/foreach}}
    {{/get}}
    </ul>
</div>

