{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


<section class="container">
     <header class="p-4">
        <div class="header-intro">
            
                <div class="p-5">

                    {{#page}}
                    <h1 class="main-title-home text-primary"> {{title}}</h1>
                    <div class="mt-4 lh-lg lead"> {{content}} </div>
                    {{/page}}
                </div>
        </div>


    </header>
</section>



<section class="container px-5">
    {{#page}}
    {{#has author="es"}}
    <h2 class="text-center my-5 fw-normal">Proyectos seleccionados</h2>
    {{else}}
    <h2 class="text-center my-5 fw-normal">Selected projects</h2>
    {{/has}}
    {{/page}}
    
    <div id="tags-row-id" class="tags m-auto">
        <div>
            <ul class="d-flex justify-content-center">
                 <li class="tags-container">
                    <button class="tag-button tag-todo">
                    All
                    </button>
                </li>
                {{#page}}
                {{#has author="es"}}
                 {{#get 'tags' limit='all' filter= 'slug: [diseno, ilustracion, web-ux-ui] '}}
                {{#foreach tags}}
                <li class="tags-container">
                    <button class="tag-button tag-trigger tag-{{ slug }}">
                    {{ name }}
                    </button>
                </li>
                {{/foreach}} 
                {{/get}}
                {{else}}
                {{#get 'tags' limit='all' filter= 'slug: [design, illustration, web-ux-ui] '}}
                {{#foreach tags}}
                <li class="tags-container">
                    <button class="tag-button tag-trigger tag-{{ slug }}">
                    {{ name }}
                    </button>
                </li>
                {{/foreach}} 
                {{/get}}
                {{/has}}
                {{/page}}
                
           
            </ul>
        </div> 
    </div>
</section>
<section>
 <div class="container gh-postfeed px-5">
        {{#foreach posts}}
        {{^has tag="#noShow"}}
            {{> "card" }} {{!-- partials/card.hbs --}}
        {{/has}} 
        {{/foreach}}
        </div>

        {{!-- If JS isn't enabled, fallback to standard pagiantion --}}

    </div>
</section>
   
   

{{> "tags-functionality"}}

